<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="bootstrapcss/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/stilos.css"/>
<title>Universal Plantas</title>
</head>

<body>
<div class="container-fluid" th:fragment="entradas">
<h1>ENTRADAS</h1>
</div>


<script src="js/jquery-2.2.3.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
<script src="bootstrapjs/bootstrap.min.js"></script>
</body>
</html>

